.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
    margin: .5rem;
}

.word-cloud {
    /* overflow: hidden; */

    border: .15rem solid #800020;
    padding: .5rem
}